<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC
        "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
        "https://checkstyle.org/dtds/configuration_1_3.dtd">
<module name="Checker">
    <module name="TreeWalker">

        <!-- Rule for "password" -->
        <module name="Regexp">
            <property name="format" value="(?i)(logger|log)\.(info|warn|error|debug)\(.*?\bpassword\b.*?\)" />
            <property name="message" value="Logging statement must not include the term 'password'. Remove or mask sensitive data." />
            <property name="ignoreComments" value="true"/>
            <property name="illegalPattern" value="true"/>
        </module>

        <!-- Rule for "username" -->
        <module name="Regexp">
            <property name="format" value="(?i)(logger|log)\.(info|warn|error|debug)\(.*?\busername\b.*?\)" />
            <property name="message" value="Logging statement must not include the term 'username'. Remove or mask sensitive data." />
            <property name="ignoreComments" value="true"/>
            <property name="illegalPattern" value="true"/>
        </module>

        <!-- Rule for "aws" -->
        <module name="Regexp">
            <property name="format" value="(?i)(logger|log)\.(info|warn|error|debug)\(.*?\baws\b.*?\)" />
            <property name="message" value="Logging statement must not include the term 'aws'. Remove or mask sensitive data." />
            <property name="ignoreComments" value="true"/>
            <property name="illegalPattern" value="true"/>
        </module>

        <!-- Rule for "secret" -->
        <module name="Regexp">
            <property name="format" value="(?i)(logger|log)\.(info|warn|error|debug)\(.*?\bsecret\b.*?\)" />
            <property name="message" value="Logging statement must not include the term 'secret'. Remove or mask sensitive data." />
            <property name="ignoreComments" value="true"/>
            <property name="illegalPattern" value="true"/>
        </module>

        <!-- Rule for "key" -->
        <module name="Regexp">
            <property name="format" value="(?i)(logger|log)\.(info|warn|error|debug)\(.*?\bkey\b.*?\)" />
            <property name="message" value="Logging statement must not include the term 'key'. Remove or mask sensitive data." />
            <property name="ignoreComments" value="true"/>
            <property name="illegalPattern" value="true"/>
        </module>

        <!-- Rule for "credential key" -->
        <module name="Regexp">
            <property name="format" value="(?i)(logger|log)\.(info|warn|error|debug)\(.*?\bcredential\s+key\b.*?\)" />
            <property name="message" value="Logging statement must not include the term 'credential key'. Remove or mask sensitive data." />
            <property name="ignoreComments" value="true"/>
            <property name="illegalPattern" value="true"/>
        </module>

        <!-- Rule for "printstacktrace" -->
        <module name="Regexp">
            <property name="format" value="(?i)(logger|log)\.(info|warn|error|debug)\(.*?\bprintstacktrace\b.*?\)" />
            <property name="message" value="Logging statement must not include 'printstacktrace'. Remove or mask sensitive data." />
            <property name="ignoreComments" value="true"/>
            <property name="illegalPattern" value="true"/>
        </module>

        <!-- Rule for "getstacktrace" -->
        <module name="Regexp">
            <property name="format" value="(?i)(logger|log)\.(info|warn|error|debug)\(.*?\bgetstacktrace\b.*?\)" />
            <property name="message" value="Logging statement must not include 'getstacktrace'. Remove or mask sensitive data." />
            <property name="ignoreComments" value="true"/>
            <property name="illegalPattern" value="true"/>
        </module>

        <!-- Rule for "System.out.println" -->
        <module name="Regexp">
            <property name="format" value="(?i)(logger|log)\.(info|warn|error|debug)\(.*?\bSystem\.out\.println\b.*?\)" />
            <property name="message" value="Logging statement must not include 'System.out.println'. Use a proper logging framework." />
            <property name="ignoreComments" value="true"/>
            <property name="illegalPattern" value="true"/>
        </module>

        <!-- Rule for "sql" -->
        <module name="Regexp">
            <property name="format" value="(?i)(logger|log)\.(info|warn|error|debug)\(.*?\bsql\b.*?\)" />
            <property name="message" value="Logging statement must not include 'sql'. Review for unintended disclosure of queries." />
            <property name="ignoreComments" value="true"/>
            <property name="illegalPattern" value="true"/>
        </module>

        <!-- Rule for "query" -->
        <module name="Regexp">
            <property name="format" value="(?i)(logger|log)\.(info|warn|error|debug)\(.*?\bquery\b.*?\)" />
            <property name="message" value="Logging statement must not include 'query'. Review for unintended disclosure of query details." />
            <property name="ignoreComments" value="true"/>
            <property name="illegalPattern" value="true"/>
        </module>

    </module>
</module>
