<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC
        "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
        "https://checkstyle.org/dtds/configuration_1_3.dtd">
<module name="Checker">
    <module name="TreeWalker">

        <!-- Rule for "password" -->
        <module name="Regexp">
            <property name="format" value="(?i)(logger|log)\.(info|warn|error|debug)\(.*?\bpassword\b.*?\)" />
            <property name="message" value="Don't log passwords." />
            <property name="ignoreComments" value="true"/>
            <property name="illegalPattern" value="true"/>
        </module>

        <!-- Rule for "username" -->
        <module name="Regexp">
            <property name="format" value="(?i)(logger|log)\.(info|warn|error|debug)\(.*?\busername\b.*?\)" />
            <property name="message" value="Don't log usernames." />
            <property name="ignoreComments" value="true"/>
            <property name="illegalPattern" value="true"/>
        </module>

        <!-- Rule for "aws" -->
        <module name="Regexp">
            <property name="format" value="(?i)(logger|log)\.(info|warn|error|debug)\(.*?\baws\b.*?\)" />
            <property name="message" value="Don't log AWS." />
            <property name="ignoreComments" value="true"/>
            <property name="illegalPattern" value="true"/>
        </module>

        <!-- Rule for "secret" -->
        <module name="Regexp">
            <property name="format" value="(?i)(logger|log)\.(info|warn|error|debug)\(.*?\bsecret\b.*?\)" />
            <property name="message" value="Don't log secrets." />
            <property name="ignoreComments" value="true"/>
            <property name="illegalPattern" value="true"/>
        </module>

        <!-- Rule for "key" -->
        <module name="Regexp">
            <property name="format" value="(?i)(logger|log)\.(info|warn|error|debug)\(.*?\bkey\b.*?\)" />
            <property name="message" value="Don't log keys." />
            <property name="ignoreComments" value="true"/>
            <property name="illegalPattern" value="true"/>
        </module>

        <!-- Rule for "credential key" -->
        <module name="Regexp">
            <property name="format" value="(?i)(logger|log)\.(info|warn|error|debug)\(.*?\bcredential\s+key\b.*?\)" />
            <property name="message" value="Don't log credential keys." />
            <property name="ignoreComments" value="true"/>
            <property name="illegalPattern" value="true"/>
        </module>

        <!-- Rule for "printstacktrace" -->
        <module name="Regexp">
            <property name="format" value="(?i)(logger|log)\.(info|warn|error|debug)\(.*?\bprintstacktrace\b.*?\)" />
            <property name="message" value="Don't log stack traces." />
            <property name="ignoreComments" value="true"/>
            <property name="illegalPattern" value="true"/>
        </module>

        <!-- Rule for "getstacktrace" -->
        <module name="Regexp">
            <property name="format" value="(?i)(logger|log)\.(info|warn|error|debug)\(.*?\bgetstacktrace\b.*?\)" />
            <property name="message" value="Don't log stack traces." />
            <property name="ignoreComments" value="true"/>
            <property name="illegalPattern" value="true"/>
        </module>

        <!-- Rule for "System.out.println" -->
        <module name="Regexp">
            <property name="format" value="(?i)(logger|log)\.(info|warn|error|debug)\(.*?\bSystem\.out\.println\b.*?\)" />
            <property name="message" value="Don't use System.out.println." />
            <property name="ignoreComments" value="true"/>
            <property name="illegalPattern" value="true"/>
        </module>

        <!-- Rule for "sql" -->
        <module name="Regexp">
            <property name="format" value="(?i)(logger|log)\.(info|warn|error|debug)\(.*?\bsql\b.*?\)" />
            <property name="message" value="Don't log SQL." />
            <property name="ignoreComments" value="true"/>
            <property name="illegalPattern" value="true"/>
        </module>

        <!-- Rule for "query" -->
        <module name="Regexp">
            <property name="format" value="(?i)(logger|log)\.(info|warn|error|debug)\(.*?\bquery\b.*?\)" />
            <property name="message" value="Don't log queries." />
            <property name="ignoreComments" value="true"/>
            <property name="illegalPattern" value="true"/>
        </module>

    </module>
</module>
